opencv-python==4.5.3.56
keyboard>=0.13.5
PyAutoGUI>=0.9.52
typeguard>=2.10.0
pygame>=2.0.1
Pillow>=8.1.0
colorama>=0.4.4
flake8
pytest
pywin32>=300; platform_system=='Windows'
python-xlib>=0.29; platform_system!='Windows'